<div class="row">
  <div class="columns large-12">
  <h1>
    Edit your profile and describe yourself and your art.
  </h1>


    <div class="panel">
    <%= form_for @user do |f| %>

      <%= f.label :first_name %>
      <%= f.text_area :first_name %>

      <%= f.label :last_name %>
      <%= f.text_field :last_name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :description, "About Me" %>
      <%= f.text_area :description %>

      <%= f.fields_for :user_arts do |user_art| %>
      <%= user_art.fields_for :art_type do |art_form| %>
        <%= art_form.label "Select your art forms" %>
        <%= art_form.collection_check_boxes :art_type_ids,
        @art_types, :id, :name %>
      <% end %>
      <% end %>

      <%= f.label :profile_photo, "Profile Photo" %><br />
      <%= f.file_field :profile_photo %>

      <%= f.submit "Edit Profile", class: "button small radius"  %>

    <%- end -%>
  </div>
  </div>
</div>
