<div class="row">
  <div class="large-12">
    <h1> <%= @user.name %> </h1>
    <div class="panel">
      <span><b>Name:</b> <%= @user.first_name %> <%= @user.last_name %></span><br />
      <span><b>City:</b> <%= @user.city %></span><br />
      <span><b>State:</b> <%= @user.state %></span><br />
      <span><b>Description:</b> <%= @user.description %></span><br />
      <span><b>Website:</b> <%= @user.website %></span><br />
      <span><b>Category:</b> <%= @user.artist_type_id %></span><br />
    </div>
  </div>
</div>
