<div class="row">
  <div class="columns small-2">
    <div class="img_space"><%= image_tag(@user.profile_photo_url(:thumb)) %>
    </div>
  </div>
  <div class="columns small-10">
    <h1> <%= @user.username %> </h1>
  </div>
</div>
    <div class="row">
      <div class="columns large-12">
    <div class="panel">
      <span><b>First name:</b> <%= @user.first_name %></span><br />
      <span><b>Last name:</b> <%= @user.last_name %></span><br />
      <span><b>City:</b> <%= @user.city %></span><br />
      <span><b>State:</b> <%= @user.state %></span><br />
      <% if @user.website != nil %>
      <span><b>Website:</b> <%= @user.website %></span><br />
      <% end %>
    </div>
    <div class="panel">
      <span><b>About me:</b> <%= @user.description %></span><br />
    </div>
<% if current_user.id == @user.id %>
      <%= link_to "Edit Profile", edit_user_path(@user), class: "button small radius" %>
    <% end %>
  </div>
</div>
